@import '../abstracts/variables.scss';

.wrapper {
    position: relative;
    box-sizing: border-box;
    width: 1200px;
    padding-left: $basic-step;
    padding-right: $basic-step;
    margin-left: auto;
    margin-right: auto;
}