@import '../abstracts/variables.scss';

.footer {
  height: 324px;
  background: $light-black;
  padding: 2*$basic-step 4*$basic-step 3.2*$basic-step 4*$basic-step;
  box-sizing: border-box;

  &__wrapper {
    display: flex;

    &--spacebetween {
      justify-content: space-between;
    }

    &--secondrow {
      margin-top: 2*$basic-step;
      margin-bottom: 3.4*$basic-step;
    }
  }

  &__logo {
    width: 163px;
    height: 35px;
    margin-right: auto;

    &:hover {
      opacity: 0.6;
    }
  }

  &__logo-html {
    height: 32px;
  }

  &__rectangle {
    width: 80px;
    height: 32px;
  }

  &__address {
    color: $dark-white;
    opacity: 0.6;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    height: 20px;
  }

  &__tel {
    color: $dark-white;
    opacity: 0.6;
    height: 20px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
  }

  &__socials {
    height: 32px;

    &-icon {
      margin-left: 0.6*$basic-step;
      margin-right: 0.6*$basic-step;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }

    }
  }

  &__menu {
    &-main {
      height: 22px;

      &-item {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        border: none;
        background-color: inherit;
        color: $dark-white;

        &:hover {
          opacity: 0.6;
        }
      }
    }

    &-secondary {
      display: flex;
      width: 325px;
      height: 35px;
      justify-content: space-between;

      &-item {
        color: $dark-white;
        opacity: 0.6;

        &--noauth {
          display: none;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

}