@import '../abstracts/variables.scss';

.header {
  &__button {
    border: none;
    background: none;
    display: flex;
    align-items: center;

    &-icon {
      margin-right: 0.6*$basic-step;
    }
  }
}

.dark {
  color: $dark-black;
}

.light {
  color: $dark-white;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}