$margin-step: 4px;

.wrapper {
    position: relative;
    box-sizing: border-box;
    width: 1200px;
    padding-left: 5*$margin-step;
    padding-right: 5*$margin-step;
    margin-left: auto;
    margin-right: auto;
}