.header {
  position: absolute;
  width: 1160px;
  height: 206px;
  left: 140px;
  top: 20px;
  &__rectangle {
    position: absolute;
    width: 1160px;
    height: 186px;
    left: 0px;
    top: 20px;
    background-color: #f7e296;
    &-logo {
      margin-top: -20px;
      width: 163px;
      left: 60px;
      margin-right: 870px;
    }
    &-menu {
      display: flex;
      position: absolute;
      width: 500px;
      height: 20px;
      left: 600px;
      top: 64px;
      &--item1 {
        position: absolute;
        width: 44px;
        height: 16px;
        left: 24px;
      }
      &--item2 {
        position: absolute;
        width: 70px;
        height: 20px;
        left: 307px;
      }
      &--item3 {
        position: absolute;
        width: 70px;
        height: 20px;
        left: 440px;
      }
    }
    &-secondarymenu {
      position: absolute;
      width: 1040px;
      height: 22px;
      left: 60px;
      top: 134px;
      display: flex;
      button {
        border: none;
        background-color: inherit;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.2;
        text-transform: uppercase;
      }
      &--item1 {
        position: absolute;
        border: none;
        background-color: inherit;
        display: flex;
        &---pic {
          margin-left: 4px;
        }
      }
      &--item2 {
        position: absolute;
        border: none;
        background-color: inherit;
        left: 560px;
      }
      &--item3 {
        position: absolute;
        left: 700px;
        border: none;
        background-color: inherit;
      }
      &--item4 {
        position: absolute;
        left: 950px;
        border: none;
        background-color: inherit;
      }
    }
  }
}
