.header {
  position: relative;
  max-width: 1160px;
  min-width: 500px;
  height: 206px;
  margin-left: auto;
  margin-right: auto;
  &__search-field {
    position: absolute;
    width: 144px;
    height: 20px;
    left: 60px;
    top: 64px;
    display: flex;
    align-items: center;
  }
  &__rectangle {
    position: absolute;
    width: 1160px;
    height: 186px;
    top: 20px;
    background-color: #f7e296;
    &-logo {
      position: absolute;
      top: -20px;
      width: 163px;
      left: 60px;
    }
    &-menu {
      display: flex;
      position: absolute;
      width: 500px;
      right: 60px;
      top: 64px;
      &-spring12 {
        flex-grow: 1;
      }
      &-item0 {
        display: none;
      }
      &-item2 {
        margin-right: 41px;
      }
    }
    &-secondarymenu {
      position: absolute;
      width: 1040px;
      right: 60px;
      top: 134px;
      display: flex;
      button {
        border: none;
        background-color: inherit;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.2;
        text-transform: uppercase;
      }
      &-spring12 {
        flex-grow: 1;
      }
      &-item1 {
        border: none;
        background-color: inherit;
        display: flex;
        &-pic {
          margin-left: 4px;
        }
      }
      &-item2 {
        border: none;
        background-color: inherit;
        margin-right: 38px;
      }
      &-item3 {
        border: none;
        background-color: inherit;
        margin-right: 111px;
      }
      &-item4 {
        border: none;
        background-color: inherit;
      }
    }
  }
}
