/// @type Color
$light-yellow: #f7e296 !default;

/// @type Color
$dark-yellow: #F0C52E !default;

/// @type Color
$dark-black: #000000 !default;

/// @type Color
$light-black: #363636 !default;

//// @type Color
$dark-grey: #464646 !default;

/// @type Color
$light-grey: #7E7E7E !default;

/// @type Color
$super-light-grey: #E5E5E5 !default;

/// @type Color
$dark-white: #FFFFFF !default;

/// @type Color
$dark-green: #91C92F !default;

/// @type Color
$light-red: #F6DADA;

/// @type Color
$text-color-white: #FFFFFF !default;

/// @type Color
$text-color-black: #000000 !default;


/// @type Length
$basic-step: 20px;