.footer {
  position: relative;
  height: 324px;
  background: #363636;
  &__logo {
    position: absolute;
    width: 163px;
    height: 35px;
    left: 140px;
    top: 64px;
  }
  &__rectangle {
    position: absolute;
    width: 80px;
    height: 7px;
    left: 140px;
    top: 239px;
  }
  &__address {
    color: white;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    width: 212px;
    height: 20px;
    left: 135px;
    top: 139px;
  }
  &__tel {
    color: white;
    position: absolute;
    width: 170px;
    height: 20px;
    left: 1136px;
    top: 139px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
  }
  &__socials {
    display: flex;
    position: absolute;
    width: 150px;
    height: 32px;
    left: 652px;
    top: 227px;
    justify-content: space-between;
  }
  &__menu {
    &-main {
      position: absolute;
      width: 450px;
      height: 22px;
      left: 508px;
      top: 138px;
      button {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        border: none;
        background-color: inherit;
        color: white;
      }
    }
    &-secondary {
      display: flex;
      position: absolute;
      width: 325px;
      height: 20px;
      left: 990px;
      top: 46px;
      justify-content: space-between;

      &-item0 {
        display: none;
      }
    }
  }
}
