.search {
  ::placeholder {
    color: #000000;
    opacity: 30%;
    font-size: 15px;
  }
  &__icon {
    margin-right: 18px;
  }
  &__field {
    position: absolute;
    left: 30px;
    border: none;
    width: 125px;
    background-color: #f7e296;
  }
}
